<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>SL No</th>
                    <th>Items Description</th>
                    <th>Brand</th>
                    <th>Rate</th>
                    <th>Units</th>
                    <th>Purpose of Items</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                 <!-- {% if data %}
                 {% for datas in data %} -->
                <!-- <tr>
                    <td data-label="SL No">{{datas.id}}</td>
                    <td data-label="Items Description">{{datas.item_name|upper}}</td>
                    <td data-label="Brand">{{datas.brand|upper}}</td>
                    <td data-label="Rate">{{datas.rate|upper}}</td>
                    <td data-label="Units">{{datas.unit|upper}}</td>
                    <td data-label="Purpose of Items">{{datas.item_description|upper}}</td>
                    <td data-label="Remarks">{{datas.remarks|upper}}</td>
                </tr> -->
                <tr>
                    <td data-label="SL No">1</td>
                    <td data-label="Items Description">Tiles</td>
                    <td data-label="Brand">Jhonson</td>
                    <td data-label="Rate">110</td>
                    <td data-label="Units">Box</td>
                    <td data-label="Purpose of Items">Premium Quality</td>
                    <td data-label="Remarks">Greate</td>
                </tr>
                <!-- {% endfor %}
                {% else %}
                 <div class="no_data">
                 <h2>No Data</h2>
              </div>
            {% endif %} -->
            </tbody>
        </table>
         </div>
</body>
</html>